<% provide :title, "Finish" %>

<body style="background-image:url(/images/char/<%=@char.downcase.split[0]%>.png)">

<div class="text" id="finish_text">
<p>You got <%= session[:s] %> points. <strong><%= @message %></strong> You earned the level of:</p>
<p style="font-size:45px"> <strong><%= @char %>!</strong></p>
</div>

<a class="button" id="home" href="/game/new" style="text-decoration:none">
		<div class="button_text">
			<p>Again!</p>
		</div>
</a>

</body>