<% provide :title, "Finish" %>

<body style="background-image:url(/images/char/<%=@char.downcase.split[0]%>.png)">

<h1 class="title">Finished</h1>

<div class="title" id="finish">
<h2 class="title" id="finish">You got <%= $s %> points. <%= @message %> You earned the level of:</h2>
<h1 style="font-size:45px"> <%= @char %>! <h2>
</div>

</body>

<!-- 

	0 or less = Benjamin
	0 - 10 = Noah Vanderhoff
	10 - 20 = Russel
	20 - 30 = Stan
	30 - 40 = Old Man Withers
	40 - 50 = Officer Khoharski
	50 - 60 = Alice Cooper
	60 - 70 = Dream Girl
	70 - 80 = Cassandra 
	80 - 90 = Garth Algar
	90 - 100 = Wayne Campbell

	-->