

<body style="background-image:url(<%=@rand.image%>);background-size=100%">

	<div class="q_text">
		<%= @rand.quote %>
	</div>

	<div class="question">
		<form id="form">
			<input type="text">
		</form>
	</div>

</body>