<% provide :title, "About" %>

<body style = "background-image:url(/images/batman.jpg); background-size:100%;">
	<h1 class="title">About</h1>
	<div class="text" id="about">
		<p>This is the first site ever built by me, Austin Rory Hackett. I hope you like it.</p>
	</div>
</body>
