
<body id="game_back">

	<h1 id="page_title">Question 1</h1>

		<div class="q_text">
			<p>"Benjamin is nobody's friend. If Benjamin were an ice cream</p>
			<p>flavor, he'd be _________________________."</p>
		</div>

		<div class="question">
			<form id="form">
				<input type="text">
			</form>
		</div>

</body>