
<body id="home_back">
	<h1 id="page_title">Welcome to the Wayne's World Game!</h1>
	<a href="/pages/info" style="text-decoration:none"><div class="home_button">
		<div id="home_button_text">
			<p>Party On!</p>
		</div>
	</div></a>
</body>
<footer>
	<a class="footer_link" href="/about">About</a>
	<a class="footer_link" href="#">High Scores</a>
</footer>