<% provide :title, "Home" %>

<body id="home_back">
	<h1 class="title">Welcome to the Wayne's World Game!</h1>
	<a class="button" id="home" href="/info" style="text-decoration:none">
		<div class="button_text">
			<p>Party On!</p>
		</div>
	</a>
</body>
