
<body id="info_back">
	<h1 id="page_title">Instructions</h1>
	<div class="text">
		<p>You will be presented with unfinished quotes from the (greatest) movie (of all time).</p>
		<p> --- </p>
		<p>You need to finish the sentence correctly in order to gain a point. At the end,</p>
		<p>your points will be tallied and we we'll see how big of a fan you really are.</p>
		<p> --- </p>
		<p>Ready? Click the button below to begin.<p>
	</div>
	<div class="info">
	</div>
	<a href="/pages/game" style="text-decoration:none"><div class="info_button">
		<div id="home_button_text">
			<p>Party On!</p>
		</div>
	</div></a>
</body>
<footer id="i">
	<a class="footer_link" href="/pages/home">Home</a>
	<a class="footer_link" href="/pages/about">About</a>
	<a class="footer_link" href="#">High Scores</a>
</footer>

