<% provide :title, "Info" ;%>

<body id="info_back">
	<h1 class="title">Instructions</h1>
	<div class="text">
		<p>You will be presented with unfinished quotes from the (greatest) TV show (of all time).</p>
		<br>
		<p>You need to finish the sentence correctly in order to gain points. At the end,</p>
		<p>your points will be tallied and we we'll see how big of a fan you really are.</p>
		<br>
		<p>Ready? Click the button below to begin.<p>
	</div>
	<div class="info">
	</div>
	<a class="button" id="info" href="/game/new" style="text-decoration:none">
		<div class="button_text">
			<p>Play!</p>
		</div>
	</a>
</body>

