
@import "bootstrap";

.title {
	font-family:'Oxygen', sans-serif; 
	text-align:center; 
	font-weight:100; 
	color:white; 
	font-size: 60px;
	margin-top:25px;
}

.button {
	background-color:yellow;
	height:70px; 
	width:300px;  
  margin-left:-170px;
	text-align:center; 
	border-radius:30px; 
	font-family:'Oxygen', sans-serif;
	padding:20px;
	display:block;
	position:fixed;
	bottom:40px;
	left: 50%;
}

.button_text {
	margin:20px; 
	color:teal; 
	font-size:50px; 
	font-weight:bold; 
	padding-bottom:5px; 
	padding-top:5px;
	font-family:'Oxygen', sans-serif;
}

.text {
	color:white;
	font-family:'Oxygen', sans-serif;
	text-align:center;
	font-size:24px;
	margin:190px auto 0 auto;
	width:75%;
	line-height:1.2;
	background-color:rgba(0,0,0,0.7);
	padding:20px;
	border-radius:30px;
}

.text#game {
	margin-left:22%;
	text-align:center;
	width:50%;
	padding:30px 30px 10px 30px;
	position:fixed;
	bottom:20px;
}

.text#display {
	position:fixed;
	margin-top:395px;
	margin-left:22%;
	text-align:center;
	width:50%;
	padding:30px 30px 0px 30px;
}



/*                            											home 																						*/

#home_back {
	background-image:url(/images/wayne_garth.png); 
	background-size:cover;
}



/*                            											info 																						*/

#info_back {
	background-image:url(/images/airplane.png);
	background-size:cover;
}


/*                            											game																						*/

#game_back {
	background-image:url(/images/pralines.png);
	background-size:cover;
}

form {
	margin-top:20px;
}

.title#question {
	margin-left:5px;
	text-align:left;
}

label {
	font-size:18px;
}

span {
	background-color:yellow;
	border-radius:5px;
	padding:0px 7px 0px 7px;
	color:teal;
	line-height:1px;
}


/*                            											finish																						*/

.title#finish {
	font-family:'Oxygen', sans-serif; 
	text-align:center; 
	font-weight:100; 
	font-size:36px;
	background-color:rgba(0,0,0,0.7);
	padding:5px;
	padding-right:5px;
	padding-left:5px;
	border-radius:30px;
	width:50%;
	margin:140px auto 0 auto;
}


.char {
	font-weight:bold;
	font-size:45px;
}

.text#finish_text {
	text-align:center;
	width:50%;
	background-color:rgba(0,0,0,0.4);
	padding:30px 30px 10px 30px;
	margin:10px auto 0 auto;
}

/*                            											about																						*/

.text#about {
	width:33%;
	margin-top:10%;
	margin-left:65%;
}

/*                            											footer																						*/

 footer {
 	height:20px;
 	width:100%;
 	text-align:right;
 	position:fixed;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	padding: 6px;
 }

 .footer_link {
 	text-align:right;
 	color:white;
 	text-decoration:none;
 	margin-right:30px;
 }